
<div class="max-w-sm p-6 bg-white">
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
    <a target="_blank" href="<%= hack.video.source_link %>">Video</a>
  </p>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><%= hack.video.transcription.content %></p>
</div>